{{> head}}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1> Alarma</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatum rerum expedita perferendis, possimus fugiat, nobis quia maxime rem enim omnis. Tempora aspernatur dolore placeat incidunt. Accusantium quibusdam minima provident!</p>
    </div>

    <div class="col-4">
       <img src="assets/img/alarma.jpg" width="250px" height="200px" alt="img-thumbnail">
    </div>
</div>

{{> footer}}